<section class="main">
    <div class="main-wrapper">
        <div class="container main-content">
            <h1> MEDITATION </h1>

            <div class="main-content-btn">

                <a href="/set-timer" class="btn btn-light btn-lg"> MEDITATE</a>
                <a href="/forum" class="btn btn-outline-light btn-lg">FORUM</a>

            </div>
        </div>
    </div>

</section>