<section class="timer-section">

    <div class="container timer">
        <div class="form-group">
            <input type="number" class="form-control" id="timeInput" placeholder="Enter The Time">
        </div>

        <a href="/forum" class="btn btn-success">SET TIMER</a>
    </div>


</section>